body{
    overflow-x: hidden;
}

.grocery-item .panel-footer {
    min-height: 60px;
}

flashes {
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

flashes .alert.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(-200px, 0);
}

flashes .alert.ng-enter-active {
  transform: translate(0, 0);
}

flashes .alert.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

flashes .alert.ng-leave-active {
    transform: translate(-200px, 0);
}



grocery-item {
    display: block !important;
}

grocery-item.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(0, -1000%);
}

grocery-item.ng-enter-active {
  transform: translate(0, 0);
}

grocery-item.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

grocery-item.ng-leave-active {
    transform: translate(100%, 0);
}


.newItemForm {
  clear: both;
}


.title-stats {
  min-height: 75px;
}
.title {
  width: 50%;
}
.title h1 {
  float: left;
  padding: 0;
  margin: 0;
}
.title-byline p {
  clear: both;
}
.stat-totals {
  text-align: left;
  float: right;
  min-height: 75px;
  background-color: #333;
  padding: 15px 20px 10px 20px;
  overflow: hidden;
}
.stat-totals div {
  margin: auto;
}

