body{
    overflow-x: hidden;
}

.grocery-item .panel-footer {
    min-height: 60px;
}

flashes {
    display: block !important;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

flashes .alert.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(-200px, 0);
}

flashes .alert.ng-enter-active {
  transform: translate(0, 0);
}

flashes .alert.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

flashes .alert.ng-leave-active {
    transform: translate(-200px, 0);
}



grocery-item {
    display: block !important;
}

grocery-item.ng-enter {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    transform: translate(0, -1000%);
}

grocery-item.ng-enter-active {
  transform: translate(0, 0);
}

grocery-item.ng-leave {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  
  transform: translate(0, 0);
}

grocery-item.ng-leave-active {
    transform: translate(100%, 0);
}


.newItemForm {
  border: 1px solid red;
}


