
<form ng-submit='groceryEditCtrl.saveGrocery()'>
    <div class="form-group">
        <label>
            New Grocery Item
        </label>
       
        <input type="text" class='form-control' placeholder='Item' ng-model='groceryEditCtrl.editedGrocery.name'>

        <input type="number" class='form-control' placeholder="How Many" ng-model='groceryEditCtrl.editedGrocery.quantity'>
        
        <input type='number' class='form-control' placeholder='Cost Per Item' ng-model='groceryEditCtrl.editedGrocery.price'>
    
    </div>
    
    <button 
        ng-disabled='!groceryEditCtrl.editedGrocery.name'
        class='btn btn-primary' 
        type='submit'
    >
        Save Item
    </button>

    <button
        ng-show='groceryEditCtrl.cancel'
        class='btn btn-danger'
        type='button'
        ng-click='groceryEditCtrl.cancel()'
    >
        Cancel
    </button>

</form>

